@import url("https://fonts.googleapis.com/css?family=Roboto");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #393c41;
  font-family: "Roboto";
}

.box-message {
  background-color: #202225;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: aliceblue;
  margin: 0;
  padding: 1em;
  border-bottom: solid 1px #dcddde;
  line-height: 2em;
}

strong {
  font-size: 1.2em;
}

.input-color,
input[type="text" i] {
  background-color: #393c41;
  padding: 0;
  border-bottom: solid 1px #202225;
}

.message-form {
  display: flex;
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 5vh;
}

.input-message {
  width: 100%;
}

.block-message {
  height: "80vh";
  overflow: "scroll";
  position: "relative";
  overflow-x: hidden;
}

.pseudo {
  color: #f8f8f8;
  font-size: 1.2em;
  font-weight: 600;
  padding: 20px 10px;
}

.date {
  color: #fff;
  font-size: 0.7em;
  padding-left: 20px;
}
